.popup__input {
    width: 358px;
    height: 27px;
    margin: 0 auto 30px;
    font-size: 14px;
    line-height: 17px;
    border: none;
    border-bottom: rgba(0, 0, 0, 0.2) 1px solid;
    padding-bottom: 5px;
}

@media screen and (max-width: 600px) {
    .popup__input {
        width: 238px;
    }
}