.header {
    max-width: 880px;
    display: flex;
    margin: 45px 200px 0;
    border-bottom: solid rgba(84, 84, 84, 0.7) 1px;
}

@media screen and (max-width: 1279px) {
    .header {
        margin: 45px auto 0;
    }
}

@media screen and (max-width: 1023px) {
    .header {
        margin: 0 auto;
    }
}