.form__input {
    text-decoration: none;
    border: none;
    border-bottom: 2px solid #CCCCCC;
    background-color: transparent;
    margin: 0 0 30px;
    color: white;
    border-radius: 5px;
    height: 27px;
    outline: none;
}

.form__input::placeholder {
    text-align: center;
}

.form__input:focus {
    background-color: #343434;
}

.form__input:last-of-type {
    margin-bottom: 215px;
}